
@{
    ViewBag.Title = "Elestirmen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="card-deck">
    <div class="card" style="text-align:center">
        <img class="card-img-top" src="https://img-s2.onedio.com/id-54cb50bbce0c1eb95afbaf81/rev-0/w-250/h-200/s-2c05b55fd5adadb41c6c83695a5b3089ed3e46b8.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@@Unlost</h5>
            <p class="card-text">This is a longer card with supporting text below as aith supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card" style="text-align:center">
        <img class="card-img-top" src="https://logo.cafepress.com/6/507270.2512916.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@@Wtcnn</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additionad-in to additional ad-in to additional ad-in to additional al content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card" style="text-align:center">
        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRy-act9DWfoq1z3kyFuKHI2K3puSGJWWqxR6uRN_Aoqrf0ym5F" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@@Berkingham</h5>
            <p class="card-text">This is a widontent. This contentng text below as as contentng text below as s contentng text below as s contentng text below as s contentng text below as  natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>
<br />
<br />
<div class="card-deck">
    <div class="card" style="text-align:center">
        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7p92Y1Mq5Usd7MKAjk5WTi3kf3lcqFAX15UTWeb8bHS-WilP4" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@@Multiplayer</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content ontent. This contentontent. This contentontent. This contentis a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card" style="text-align:center">
        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqTVJRng0weYC1zCnWtu9Ce6298i37falZV7mZJpOjJVHszISLVg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@@NightKiss</h5>
            <p class="card-text">This card has supporting text below as a naturalas supporting text below as a as supporting text below as a as supporting text below as a as supporting text below as a  lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card" style="text-align:center">
        <img class="card-img-top" src="https://askabiologist.asu.edu/sites/default/files/resources/articles/GMOs/Chimp-250.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@@KendineJPEG</h5>
            <p class="card-text">This is a wider card with supporting text below as s is a wider card with supporting text below as s is a wider card with supporting text below as s is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>
<br />
<br />
<div class="card-deck">
    <div class="card" style="text-align:center">
        <img class="card-img-top" src="https://image.shutterstock.com/mosaic_250/0/0/671452168.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@@Cerll</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card" style="text-align:center">
        <img class="card-img-top" src="http://www.cashadvance6online.com/data/archive/preview/img/4023487320.jpeg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@@Lylpo</h5>
            <p class="card-text">This card has supporting text below as apoard has supporting textrting text below as portiard has supporting textng text below as porting text below as  natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card" style="text-align:center">
        <img class="card-img-top" src="https://i.pinimg.com/736x/29/fd/36/29fd3610f18df0baa1a6510ba61b6c04.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@@MiaFitx</h5>
            <p class="card-text">This is a wider card with supporting text below as a natd with supporting text below as ad with supporting text below as ad witting text below as h supporting text below as ad with supporting text below as aural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>
<br />
<br />
<div class="card-deck">
    <div class="card" style="text-align:center">
        <img class="card-img-top" src="https://img-s2.onedio.com/id-54cb50bbce0c1eb95afbaf81/rev-0/w-250/h-200/s-2c05b55fd5adadb41c6c83695a5b3089ed3e46b8.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@@Unlost</h5>
            <p class="card-text">This is a longer card with supporting text below as aith supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card" style="text-align:center">
        <img class="card-img-top" src="https://logo.cafepress.com/6/507270.2512916.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@@Wtcnn</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additionad-in to additional ad-in to additional ad-in to additional al content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card" style="text-align:center">
        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRy-act9DWfoq1z3kyFuKHI2K3puSGJWWqxR6uRN_Aoqrf0ym5F" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@@Berkingham</h5>
            <p class="card-text">This is a widontent. This contentng text below as as contentng text below as s contentng text below as s contentng text below as s contentng text below as  natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>
<br />
<br />
<div class="card-deck">
    <div class="card" style="text-align:center">
        <img class="card-img-top" src="https://img-s2.onedio.com/id-54cb50bbce0c1eb95afbaf81/rev-0/w-250/h-200/s-2c05b55fd5adadb41c6c83695a5b3089ed3e46b8.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@@Unlost</h5>
            <p class="card-text">This is a longer card with supporting text below as aith supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card" style="text-align:center">
        <img class="card-img-top" src="https://logo.cafepress.com/6/507270.2512916.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@@Wtcnn</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additionad-in to additional ad-in to additional ad-in to additional al content.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <div class="card" style="text-align:center">
        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRy-act9DWfoq1z3kyFuKHI2K3puSGJWWqxR6uRN_Aoqrf0ym5F" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@@Berkingham</h5>
            <p class="card-text">This is a widontent. This contentng text below as as contentng text below as s contentng text below as s contentng text below as s contentng text below as  natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
</div>
<br />
<br />