
@{
    ViewBag.Title = "Fragman";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .content{
        display:none;
    }
</style>
<br />
<div class="preload">
    <img src="https://www.gazetekale.com/ajax-loading-gif.gif"/>
</div>
<iframe width="850" height="400" src="https://www.youtube.com/embed/hvoD7ehZPcM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class="alert alert-danger" style="background-color:red;color:white;text-align:center" role="alert">
    GTA V Resmi Oyun Fragmanı !
</div>
<br />
<br>
<iframe width="850" height="400" src="https://www.youtube.com/embed/XYtyeqVQnRI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class="alert alert-danger" style="background-color:red;color:white;text-align:center" role="alert">
    Tomb Raider Resmi Oyun Fragmanı !
</div>
<br />
<br>
<iframe width="850" height="400" src="https://www.youtube.com/embed/zX0AV6yxyrQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class="alert alert-danger" style="background-color:red;color:white;text-align:center" role="alert">
    FIFA19 Resmi Oyun Fragmanı !
</div>
<br />
<br><iframe width="850" height="400" src="https://www.youtube.com/embed/ehjJ614QfeM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class="alert alert-danger" style="background-color:red;color:white;text-align:center" role="alert">
    Witcher 3 Resmi Oyun Fragmanı
</div>
<br />
<br><iframe width="850" height="400" src="https://www.youtube.com/embed/mMGHpIJjnjE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class="alert alert-danger" style="background-color:red;color:white;text-align:center" role="alert">
    Just Cause 4 Resmi Oyun Fragmanı
</div>
<br />
<br>
<iframe width="850" height="400" src="https://www.youtube.com/embed/_zDZYrIUgKE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class="alert alert-danger" style="background-color:red;color:white;text-align:center" role="alert">
    Dark Souls 3 Resmi Oyun Fragmanı !
</div>
<br />
<br><iframe width="850" height="400" src="https://www.youtube.com/embed/PI-1KTy0pOA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class="alert alert-danger" style="background-color:red;color:white;text-align:center" role="alert">
    Far Cry 5 Resmi Oyun Fragmanı
</div>
<br />
<br><iframe width="850" height="400" src="https://www.youtube.com/embed/6YxeasnHaak" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class="alert alert-danger" style="background-color:red;color:white;text-align:center" role="alert">
    NBA 2K19 Resmi Oyun Fragmanı
</div>
<br />
<br>

<script>
    $(function () {
        $(".preload").fadeOut(2000, function () {
            $(".content").fadeIn(2000);
        });
    });
</script>