
@{
    ViewBag.Title = "Tartisma";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="media" style="background-color:antiquewhite">
    <img class="mr-3" src="https://images.sftcdn.net/images/t_app-logo-l,f_auto,dpr_auto/p/5df2521c-5a53-11e7-afb1-b1ca1e9b1ec1/1483810460/midnight-calling-jeronimo-a-hidden-object-game-logo.png" alt="Generic placeholder image">
    <div class="media-body">
        <h5 class="mt-0">Media heading</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
</div>

<br />
<br />
<div class="media" style="background-color:antiquewhite">
    <img class="mr-3" src="https://cdn.jaleco.com/gen/android/pokemon-pro-collection-free-gba-classic-game-100x100.png" alt="Generic placeholder image">
    <div class="media-body">
        <h5 class="mt-0">Media heading</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

        <div class="media mt-3">
            <a class="pr-3" href="#">
                <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/apps/576440/01d314dba22ef0714edab1c29c83b8cc34d81adc.jpg" alt="Generic placeholder image">
            </a>
            <div class="media-body">
                <h5 class="mt-0">Media heading</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="media" style="background-color:antiquewhite">
    <img class="align-self-start mr-3" src="https://img.bolumsonucanavari.com/images/news/85433_64x64.jpg" alt="Generic placeholder image">
    <div class="media-body">
        <h5 class="mt-0">Top-aligned media</h5>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
        <p>Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </div>
</div>
<br />
<br />
<div class="media" style="background-color:antiquewhite">
    <img class="align-self-center mr-3" src="https://t2.genius.com/unsafe/64x64/https%3A%2F%2Fimages.genius.com%2F5d943fdf8e012d844a1b587b79e29b3d.1000x1000x1.jpg" alt="Generic placeholder image">
    <div class="media-body">
        <h5 class="mt-0">Center-aligned media</h5>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
        <p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </div>
</div>
<br />
<br />
<div class="media" style="background-color:antiquewhite">
    <img class="align-self-end mr-3" src="https://lh3.googleusercontent.com/4u8V8517nCFI0SwW33z9MwN7qQB0JirsBaYFiEM7N98n_6LYsbM5Wj2lS36KOprpxH4=s64-rw" alt="Generic placeholder image">
    <div class="media-body">
        <h5 class="mt-0">Bottom-aligned media</h5>
        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
        <p class="mb-0">Donec sed odio dui. Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </div>
</div>
<br />
<br />
<div class="media" style="background-color:antiquewhite">
    <div class="media-body">
        <h5 class="mt-0 mb-1">Media object</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
    <img class="ml-3" src="https://secure.gravatar.com/avatar/79da6f98785139726c7c9a5f8abba32f?s=64&d=mm&r=g" alt="Generic placeholder image">
</div>
<br />
<br />
<ul class="list-unstyled" style="background-color:antiquewhite">
    <li class="media">
        <img class="mr-3" src="https://d2.alternativeto.net/dist/icons/game-of-war_31787.png?width=64&height=64&mode=crop&upscale=false" alt="Generic placeholder image">
        <div class="media-body">
            <h5 class="mt-0 mb-1">List-based media object</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
    </li>
    <li class="media my-4">
        <img class="mr-3" src="https://dl1.cbsistatic.com/i/r/2017/12/19/070925e5-0303-4a4d-b537-be2483fe74c3/thumbnail/64x64/a6d8d900778c3940755be2e97bc1745a/fmimg2486012370055075896.jpg" alt="Generic placeholder image">
        <div class="media-body">
            <h5 class="mt-0 mb-1">List-based media object</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
    </li>
    <li class="media" >
        <img class="mr-3" src="https://www.ucretsizprogram.org/wp-content/uploads/2017/05/Cut-the-Rope-chrome-game-64x64.jpg" alt="Generic placeholder image">
        <div class="media-body">
            <h5 class="mt-0 mb-1">List-based media object</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
        </div>
    </li>
</ul>
<br />
<br />
