

<div style="text-align:center">
    <img class="rounded-circle" src="https://scontent-yyz1-1.cdninstagram.com/vp/56cb1e6ed8273eeead5e7ed369e3fcc3/5C9EAA58/t51.2885-15/sh0.08/e35/s750x750/44794262_191057368494839_5365746784286919688_n.jpg?ig_cache_key=MTkwOTY0MDY5NjM0MDY4MzYwOA%3D%3D.2" style="width:50%" />

    <div class="card text-white bg-danger mb-3" style="background-color:red">
        <div class="card-header" style="background-color:red">@@Berkingham</div>
        <div class="card-body" style="background-color:red">
            <h5 class="card-title">Nedir Bu Fifa?</h5>
            <p class="card-text">Herkesin yerden sert şutlarla gol attığı, kalecilerin ayakla kurtarma özellikleri yoksa çöp muamelesi gördüğü FIFA 18'den sonra FIFA 19 için beklentilerim bir hayli düşüktü. Belki de beklentileri düşük tutman sebebiyle FIFA 19'u bir hayli beğendim. Tabii devrimsel nitelikte değişimler var diyemeyeceğim, hatta çoğu güzelleştirme ve geliştirme bence seneler önce yapılması gereken şeylerdi. Oynanışa etki eden bu değişimler tatmin etmeyi başarsa da zamanlama olarak aynı şeyi söylemek mümkün değil gibi. </p>
        </div>
    </div>
</div>
<div style="text-align:center">
    <img class="rounded-circle" src="https://i1.sndcdn.com/avatars-000004520718-e1840g-t500x500.jpg" style="width:50%" />
    <div class="card text-white bg-info mb-3" style="background-color:blue">
        <div class="card-header" style="background-color:blue">@@Educatedear</div>
        <div class="card-body" style="background-color:blue">
            <h5 class="card-title">GTA V Hilesi !</h5>
            <p class="card-text">Yavaş yavaş arabamı Vinewood’dan aşağıya Rockford Hills’e doğru sürdüm. Neye sahip olup neye sahip olmadıklarımla ilgili düşünecek çok fazla vaktim olmuştu. İçki içmiş, suç işlemiş, normal bir insanın ağıza alınmayacağı şeyler yapmıştım. Bunları bazen para kazanmak için, bazen zevk için icra etmiştim…fakat çoğunlukla para kazanmak için. Uyuşturucu kullandım, uyuşturucuyu bıraktım, kurşun yedim, aşık oldum, evlendim, çocuklarım oldu, öldüm, dirildim, arkamda pişmanlıklar ve kırıklıklarla dolu asla mutlu olmadığım bir hayat bıraktım. Mutluluğu ve huzuru ise silahların patlama anlarının arasında çöken 5 saniyelik sessizliklerde buldum, benim adım Michael De Santa ve hayatımda kimseyi sevmedim</p>
        </div>
    </div>
</div>
<div style="text-align:center">
    <img class="rounded-circle" src="https://img-s2.onedio.com/id-5a5cfe9fe48eb2f9179b00f9/rev-1/w-500/o-84x5/s-ba84318ec6c12bb82eb8fae6378e6ed705b84e20.jpg" style="width:50%" />
    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header">@@Unlost</div>
        <div class="card-body">
            <h5 class="card-title">Success card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.ome quick example text to build on the card title and ome quick example text to build on the card title and ome quick example text to build on the card title and ome quick example text to build on the card title and ome quick example text to build on the card title and ome quick example text to build on the card title and ome quick example text to build on the card title and </p>
        </div>
    </div>
</div>
<div style="text-align:center">
    <img class="rounded-circle" src="https://i1.sndcdn.com/artworks-000344901255-q8zpjx-t500x500.jpg" style="width:50%" />
    <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
        <div class="card-header">@@KendineMüzisyen</div>
        <div class="card-body">
            <h5 class="card-title">Danger card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.t to build on the card title and make up the bulk of the card't to build on the card title and make up the bulk of the card't to build on the card title and make up the bulk of the card't to build on the card title and make up the bulk of the card't to build on the card title and make up the bulk of the card't to build on the card title and make up the bulk of the card'</p>
        </div>
    </div>
</div>
<div style="text-align:center">
    <img class="rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqqSaBu9x3MSfK0P-8gyE5CBVsWq6ELH-fVjYJIkYT_cZZ8-VR" style="width:50%" />
    <div class="card text-white bg-warning mb-3" style="background-color:orange">
        <div class="card-header" style="background-color:orange">@@Wtcnn</div>
        <div class="card-body" style="background-color:orange">
            <h5 class="card-title">Far Cry 5</h5>
            <p class="card-text">Yavaş yavaş arabamı Vinewood’dan aşağıya aş yavaş arabamaaş yavaş arabamı Vinewood’dan aşağaş yavaş arabamı Vinewood’dan aşağaş yavaş arabamı Vinewood’dan aşağş yavaş arabaş yavaş arabamı Vinewood’dan aşağhael De aşaş yavaş arabamı Vinewood’dan aşağamı Vinewood’dan aşağevmedim</p>
        </div>
    </div>
</div>